{% extends 'base.html.twig' %}

{% block body %}

    {% for lesson in lessonsDetails %}
        <li>{{ lesson }}</li>
    {% endfor %}

    <a href="{{ path('cours') }}">Retour à la liste des cours</a>

{% endblock %}